h1 {
    text-shadow: 1px 1px 3px orangered, 2px 2px 3px lightseagreen, 3px 3px 3px blueviolet;
    text-align: center;
}
.one{
    text-transform: uppercase;
    line-height: 1.5;
    text-align: center;
}
.two {
    text-transform: capitalize;
    line-height: 1.5;
    text-align: center;
}
.three {
    text-transform: lowercase;
    line-height: 1.5;
    text-align: center;
}
.div-1{
    width: 400px;
    background-color: #eee;
    /* word-break: break-word; */
}
.div-2{
    width: 400px;
    background-color: #eee;
    white-space: nowrap;
    overflow: hidden;
}
.div-3{
    width: 200px;
    background-color: #eee;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
a{
    display: block;
    font-family: Verdana, Tahoma, sans-serif;
    padding: 20px;
    font-size: 20px;
    width: fit-content;
    margin: 10px auto;
    border-bottom: 10px solid #00514a;
    color: white;
    background-color: rgba(40, 167, 154);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-transform: capitalize;
    text-decoration: none;
    border-radius: 10px;
}